<section class="servicios">
    <div class="container">
            <h1 class="animated fadeIn fast">Servicios</h1>
            <hr>
        <div class="row">
            <div class="col-md-4 card-colum">
                <div class="card" style="width: 18rem;">
                    <img src="./assets/img/iot1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card-colum">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/img/iot1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-colum">
                        <div class="card" style="width: 18rem;">
                            <img src="./assets/img/iot1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
        </div> 
    </div>
</section>