<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
    </div>
  </div>
</div>


  <app-servicios></app-servicios>

