
<section>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
      </div>
    </div>
  </div>

<section class="sobre" id="about">         
    <div class="container">              
        <div class="row">              
            <div class="col-md-12 text-center"> 
                <h2 class="section-title">Lorem ipsum</h2> 
                <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,qui eu fugiat nulla pariatur.</p> 
            </div>                                       
            <div class="col-md-4"> 
                <div class="about-box"> 
                    <div class="hi-icon-wrap hi-icon-effect-8"> 
                        <i class="fa fa-cogs hi-icon"></i> 
                    </div>                             
                    <h3>Lorem ipsum</h3> 
                    <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p> 
                </div>                         
            </div>                                        
            <div class="col-md-4"> 
                <div class="about-box"> 
                    <div class="hi-icon-wrap hi-icon-effect-8"> 
                        <i class="fa fa-clone hi-icon"></i> 
                    </div>                             
                    <h3>Lorem ipsum</h3> 
                    <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p> 
                </div>                         
            </div>                                    
            <div class="col-md-4"> 
                <div class="about-box"> 
                    <div class="hi-icon-wrap hi-icon-effect-8"> 
                        <i class="fa fa-thumbs-o-up hi-icon"></i> 
                    </div>                             
                    <h3>Lorem ipsum</h3> 
                    <p>Curabitur quam etsum lacus etsumis nulat iaculis ets vitae etsum nisle varius sed aliquam ets vitae dictis netsum.</p> 
                </div>                         
            </div>                                     
        </div>                                
    </div>             
</section>         
<section class="section-grey">            
      <div class="container">               
          <div class="row">                    
              <div class="col-md-6 padding-top-60"> 
                  <h3 class="medium-title">Lorem Ipsum</h3> 
                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum lorisum fugit, sed quia magni dolores eos qui ratione sequi nesciunt. Neque et quis autem velis reprehenderit et quis voluptate velit esse quam nihil porisum ratione sequi enim ipsam voluptatem quia volupti tempor.</p> 
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan</p>                         
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamis corperas suscipit lobortis nisl consequat. volutpat. Ut wisi enim ad minim veniam, ets nostrud exerci tation ullamcorper suscipit lobortis nisl consequat.</p> 
              </div>                                    
              <div class="col-md-6"> 
                  <img src="./assets/img/iot1.jpg" alt="mobile-devices" class="width-100 wow slideInRight" data-wow-delay="0.50s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInRight;"> 
              </div>                                 
          </div>                              
      </div>                      
  </section>

  <app-precios></app-precios>