
<section>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/carousel.jpg" class="d-block" alt="...">
      </div>
    </div>
  </div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>Lorem</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Veniam cumque blanditiis facere aliquid unde nesciunt.</p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
  </div>
</div>
</section>

  <app-precios></app-precios>
