<section class="precios" id="pricing">             
        <div class="container">            
            <div class="row">                   
                <div class="col-md-12 text-center precios-titulo"> 
                    <h2 class="section-title">Precios</h2> 
                    <p class="section-subtitle">There are many variations of passages of Lorem Ipsum<br>have suffered alteration</p> 
                </div>                                        
                <div class="col-md-4 col-md-4"> 
                    <div class="price-box-white"> 
                        <ul class="pricing-list"> 
                            <li>
                                <p class="price-title">STANDAR</p>
                            </li>                                 
                            <li>
                                <span>12€</span>
                            </li>                                 
                            <li>
                                <p class="price-subtitle">6 Meses</p>
                            </li>                                 
                            <li>
                                <a href="#" class="price-tag">MÁS INFORMACIÓN</a>
                            </li>                                 
                            <li>
                                <p class="price-text">50 Gb</p>
                            </li>                                 
                        </ul>                             
                    </div>                         
                </div>                                        
                <div class="col-md-4 col-md-4"> 
                    <div class="price-box-grey"> 
                        <ul class="pricing-list"> 
                            <li>
                                <p class="price-title">MEDIUM</p>
                            </li>                                 
                            <li>
                                <span>20€</span>
                            </li>                                 
                            <li>
                                <p class="price-subtitle">12 Meses</p>
                            </li>                                 
                            <li>
                                <a href="#" class="price-tag">MÁS INFORMACIÓN</a>
                            </li>                                 
                            <li>
                                <p class="price-text">200 Gb</p>
                            </li>                                 
                        </ul>                             
                    </div>                         
                </div>                                         
                <div class="col-md-4 col-md-4"> 
                    <div class="price-box-blue"> 
                        <ul class="pricing-list"> 
                            <li>
                                <p class="price-title white-text">PREMIUM</p>
                            </li>                                 
                            <li>
                                <span class="white-text">99€</span>
                            </li>                                 
                            <li>
                                <p class="price-subtitle white-text">Ilimitado</p>
                            </li>                                  
                            <li>
                                <a href="#" class="price-tag">MÁS INFORMACIÓN</a>
                            </li>     
                            <li>
                                    <p class="price-text">A consultar</p>
                            </li>                             
                        </ul>                             
                    </div>                         
                </div>                                     
            </div>                                
        </div>                  
    </section>  

    <div class="section-grey sponsors-padding">            
            <div class="container">                
                <div class="row">                      
                    <div class="col-sm-12 sponsors"> 
                        <img src="./assets/img/logo_miotek.png" class="sponsor" alt="image"> 
                        <img src="./assets/img/logo_miotek.png" class="sponsor" alt="image"> 
                        <img src="./assets/img/logo_miotek.png" class="sponsor" alt="image"> 
                        <img src="./assets/img/logo_miotek.png" class="sponsor" alt="image"> 
                        <img src="./assets/img/logo_miotek.png" class="sponsor" alt="image"> 
                    </div>                                        
                </div>                              
            </div>                     
        </div>  