#navbar-collapse li.selected a{
    color: #fff!important;
    border-bottom: 2px solid #eee!important;
}

.navbar-fixed-top #navbar-collapse .current a {
    color:#ffffff!important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top.opaque #navbar-collapse .current a {
    color:#4285f4!important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-fixed-top { 
	background-color: rgba(0, 0, 0, 0.0)!important; 
	border-bottom: none;
	transition: background-color 1s ease 0s;
}

.navbar-fixed-top.opaque {
	background-color: rgba(0, 0, 0,5)!important;
	padding: 10px 0;
	transition: all 1s ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a{
	color:#fff !important;
	font-size: 14px !important;
	line-height: 30px !important;
	text-transform: uppercase;
	padding: 10px 20px!important;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.navbar-default .navbar-nav > li > a.discover-btn {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 5px 5px;
	padding: 8px 30px!important;
	margin-left: 10px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav > li > a.discover-btn:hover {
	border: 2px solid #ffffff;
	color: #4285f4!important;
	background: #ffffff;
}