ul, ol { 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0;
	color:#858585;
	font-size: 14px;
	line-height:24px;
	margin-bottom:20px;
}
	
ul li, ol li{
	font-size: 14px;
	line-height: 28px;
}

ul li i{
	vertical-align: middle;
}

p {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #7c8595;
  margin-bottom:15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  margin-bottom:20px;
  color: #2F362F;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

h2.section-title{
	font-size: 40px;
    line-height: 40px;
    color: #2066a4;
    margin-bottom: 15px;
}

h2.section-title.grey{
	color:#ddd;
}

h2.section-title.white{
	color:#ffffff;
}

p.section-subtitle{
  font-size:20px;
  line-height: 32px;
}

p.section-subtitle.grey{
	color:#bbb;
}

p.section-subtitle.white{
	color:#ffffff;
}

h3.medium-title {
	font-size: 32px;
	margin-top:10px;
}


a,
a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}



/* ========================================================== */
/* 			                   MENU-NAV                       */
/* ========================================================== */

.navbar{
  background-color: white;
}

.nav-link{
  color: #03609a!important;
  text-transform: uppercase;
  font-weight: normal;
 
}
.menu {
  margin: 0 auto; 
  overflow: hidden;
  text-align: left;
}
.menu ul {
  float: left;
}

.nav-link:hover{
  color: #3f4c9b!important;
}  

/* ========================================================== */
/* 			                   HOME                               */
/* ========================================================== */

.section-grey{
  background: #E1EAF8;
  padding:75px;
}



.precios {
	padding:75px;
}


.sobre{
  margin: 50px 0px;
}

/** Footer */
.footer {
    background-color: white;
    width: 100%;
    display: block;
    padding: 3rem 0;
    background-image: linear-gradient(to bottom right, #0887d6,#3F4C9B);
}

.footer .nav-footer {
    padding: 1rem;
}
.footer .nav-footer h3 {
    font-size: 1.2rem;
    color: aliceblue;
}
.footer .menu a{
    text-decoration: none;
    display: block;
    padding-top: .5rem;
    color: #b8dbef;
}
.footer .menu a:hover{
  color: white;

}

.footer p{
    padding-top: 15px;
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
}


.servicios{
  margin: 50px 0px;
}




/* Precios */

.precios{
  margin-top: 50px;
  margin-bottom: 50px;
}



/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }