<footer id="footer" class="footer">
    <div class="contenedor container ">
        <div class="row">
            <div class=" col-md-3 nav-footer">
                <h3>Empresa</h3>
                <nav class="menu">
                    <a href="#">Nuestro perfil</a>
                    <a href="#">Sostenibilidad</a>
                    <a href="#">Diversidad</a>
                    <a href="#">Política de privacidad</a>
                </nav>
            </div>

            <div class=" col-md-3 nav-footer">
                <h3>Servicios</h3>
                <nav class="menu">
                    <a href="#">Tarifas</a>
                    <a href="#">Preguntas frecuentes</a>
                    <a href="#">Clientes</a>
                </nav>
            </div>
            <div class=" col-md-3 nav-footer">
                    <h3>Precios</h3>
                    <nav class="menu">
                        <a href="#">Razones para Hospedar</a>
                        <a href="#">Hospitalidad</a>
                        <a href="#">Ser un anfitrión responsable</a>
                        <a href="#">Centro de la Comunidad</a>
                    </nav>
                </div>
            <div class=" col-md-3 nav-footer">
                <h3>Contacto</h3>
                <nav class="menu">
                    <a href="#">Contacta con nosotros</a>
                    <a href="#">Pregunstas frecuentes</a>
                    <a href="#">Ser un anfitrión responsable</a>
                    <a href="#">Centro de la Comunidad</a>
                </nav>
            </div>
        </div>
     

    <div class="row">
        <div class="col-md-12">
            <hr>
            <p class="text-center">Miotek® es una marca patentada que solo puede ser usada por Miotek Factory S.L.</p>
        </div>

    </div>
</div>
</footer>